@import '../../colors.scss';

.profile-photo {
  max-width: 164px;
}

.nav {
  .nav-item {
    .nav-link {
      font-size: 14px;
      &.active {
        font-weight: bold;
        cursor: default;
      }
    }
  }
}

.card-img-top {
  height: 160px;
}
