<div class="row mb-4">
  <div class="col-2">
    <img class="rounded" [src]="person.img" />
  </div>
  <div class="col-4 ml-4">
    <h3>{{ person.name }}</h3>
    <button class="btn btn-outline-primary">
      <fa-icon [icon]="evenlope"></fa-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs; let tabIndex = index">
        <a class="nav-link" href="#" (click)="setTab(tabIndex)"
          [ngClass]="{ 'active': activeTab === tab }">
          {{ tab }} {{ (tab === 'About') ? person.name : '' }}
        </a>
      </li>
    </ul>

    <div class="border-left border-bottom border-right px-3 pt-3 pb-3" id="about-person"
      *ngIf="activeTab === 'About'">
      <p>{{ person.description }}</p>
    </div>

    <div class="border-left border-bottom border-right px-3 pt-3 pb-3" id="likes-person"
      *ngIf="activeTab === 'Likes'">
      <div class="row">
        <div class="col">
          <ul>
            <li *ngFor="let like of person.likes">{{ like }}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="border-left border-bottom border-right px-3 pt-3 pb-3" id="dislikes-person"
      *ngIf="activeTab === 'Dislikes'">
      <div class="row">
        <div class="col">
          <ul>
            <li *ngFor="let dislike of person.dislikes">{{ dislike }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
