<div class="bg-white border profile-result rounded row mb-4 px-3 pt-3 pb-3">
  <div class="col-2 pl-0">
    <img class="rounded profile-photo img-thumbnail" [src]="person.img" />
  </div>
  <div class="col p-0">
    <h3>{{ person.name }}</h3>
    <div class="clearfix">
      <a href="#" class="btn-link"  data-toggle="modal" data-target="#exampleModal">
        <fa-icon [icon]="evenlope"></fa-icon>
        Send a message
      </a>
      <app-modal-message [person]="person.name"></app-modal-message>
    </div>
    <div class="clearfix">
      <app-ratings [ratings]="person.rating"></app-ratings>
    </div>
    <div class="short-description">
      <p>{{ person.description }}</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col p-0">
    <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs; let tabIndex = index">
        <span class="nav-link" (click)="setTab(tabIndex)"
          [class.active]="activeTab === tab">
          {{ tab }} {{ (tab === 'About') ? person.name : '' }}
        </span>
      </li>
    </ul>

    <div class="bg-white tab-content rounded-bottom border-left border-bottom border-right px-3 pt-3 pb-3" id="about-person"
      *ngIf="activeTab === 'About'">
      <p>{{ person.description }}</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="bg-white tab-content rounded-bottom border-left border-bottom border-right px-3 pt-4 pb-3" id="likes-person"
      *ngIf="activeTab === 'Likes'">
      <div class="row">
        <div class="col">
          <app-cards [cardData]="person.likes"></app-cards>
        </div>
      </div>
    </div>

    <div class="bg-white tab-content rounded-bottom border-left border-bottom border-right px-3 pt-3 pb-3" id="dislikes-person"
      *ngIf="activeTab === 'Dislikes'">
      <div class="row">
        <div class="col">
          <app-cards [cardData]="person.dislikes"></app-cards>
        </div>
      </div>
    </div>
  </div>
</div>
