@import '../../colors.scss';

.profile-photo {
  max-width: 164px;
}

.short-description {
  font-style: italic;
}

.nav-tabs {
  .nav-item {
    .nav-link {
      font-size: 16px;

      &.active {
        font-weight: bold;
        cursor: default;
      }
    }
  }
}
