@import '../../colors.scss';

.user-photo {
  width: 38px;
  height: 38px;
  border-radius: 100px;
  background: url("../../assets/img_0_m.jpeg") no-repeat center;
  background-size: 38px 38px;
  border: 1px solid $gray7;
  float: left;
}

.dropdown-menu {
  font-size: 13px;
  left: auto;
  right: 0;
  box-shadow: 0 0 5px $gray1;
}

.nav-link {
  overflow: hidden;
  line-height: 37px;
}
