/* You can add global styles to this file, and also import other style files */
@import 'colors.scss';

body {
  padding-top: 3.4rem;
  background-color: $gray0;
  font-size: 12px;
}

a {
  color: $blue1;
}

.bg-primary {
  background-color: $blue1;
}

.bg-gray {
  background-color: $gray2;
}

.btn-outline-primary {
  color: $blue1;
  border-color: $blue1;

  &:hover {
    color: $white;
    background-color: $blue1;
    border-color: $blue1;
  }
}

.list-group-item.active {
  background-color: $blue1;
  border-color: $blue1;
}

.navbar {
  box-shadow: 0 1px 1px $gray3;

  .logo {
    max-width: 200px;
  }

  &-white {
    background-color: $white;
  }
}

.bg-white {
  background-color: $white;
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}
